*{
  margin: 0px;
  padding: 0px;
}
input:invalid {
  border: 2px solid red;
}
input:valid{
  border: 2px solid green;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}
img{
  position: relative;
  bottom: 0;
  width: 180px;
  height: 140px;
}
